PermitRootLogin no

StrictModes yes

MaxAuthTries 5
MaxSessions 10

PasswordAuthentication yes

PermitEmptyPasswords no

PubkeyAuthentication yes

LogLevel VERBOSE

ClientAliveInterval 300
ClientAliveCountMax 2

AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no

PrintMotd no
